version: "3.9"

services:
  api:
    build: ./app
    container_name: q1-api-service
    environment:
      - DATABASE_URL=postgresql://app_user:app_password@db:5432/app_db
      - REDIS_URL=redis://redis:6379/0
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: q1-postgres
    environment:
      - POSTGRES_DB=app_db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=app_password
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7
    container_name: q1-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
